
body
{
	background: #262626;
	color: #cccccc;

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;

	text-align: left;
	max-width: 100%;
	margin: 0px 10px;
}

@media only screen and (min-width: 768px)
{
	body
	{
		max-width: 100%;
		font-size: 16px;
	}
}

a
{
	color: darkorange;
}

b
{
	color: white;
}

pre
{
	white-space: pre-wrap;
}

h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: white;
}

h2
{
	color: white;
}

h3
{
	color: white;
}

header
{
	text-align: center;
	width: 100%;
}

section
{
	width: 100%;
}

footer
{
	text-align: center;
	width: 100%;
}

.vte_arma2_missions
{
	background: #262626;
	color: #cccccc;
}

table
{
	width: 100%;
	background-color: white;
	border: 1px solid black;
}

.ofpscreenshot
{
	max-width: 128px;
	width: auto;
	height: auto;
	padding: 5px;
}

.armascreenshot
{
	max-width: 128px;
	width: auto;
	height: auto;
	padding: 5px;
}

.arma2screenshot
{
	max-width: 128px;
	width: auto;
	height: auto;
	padding: 5px;
}

.a3satimg
{
	max-width: 256px;
	width: auto;
	height: auto;
}

.grid-container
{
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.grid-item
{
	padding: 5px;
}
